<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
<table id="table_id">
    <thead>
        <tr>
            <th>Col1</th>
            <th>Col2</th>
            <th>Col3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>data-1a</td>
            <td>data-1b</td>
            <td>data-1c</td>
        </tr>
        <tr>
            <td>data-2a</td>
            <td>data-2b</td>
            <td>data-2c</td>
        </tr>
        <tr>
            <td>data-3a</td>
            <td>data-3b</td>
            <td>data-3c</td>
        </tr>
        <tr>
            <td>data-4a</td>
            <td>data-4b</td>
            <td>data-4c</td>
        </tr>
    </tbody>
</table>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
</head>
<body>
<div class="canvas-app">
    <p>Hello, <%= context.user.firstName %>. Please enjoy your dynamic NodeJs Page!</p>
    <table>
        <tr><td>User:</td><td><%= context.user.fullName %></td></tr>
        <tr><td>Object:</td><td><%= context.environment.record.attributes.type %></td></tr>
        <tr><td>Id:</td><td><%= context.environment.record.Id %></td></tr>
    </table>
    <p>It can also access more data in Salesforce using the REST APIs. With context and APIs, Canvas makes it easy to integrate applications written in any language inside your Salesforce pages.</p>
    <p>For example, the QR Code below is generated in Node.js. Scan it to create a contact on your mobile phone:</p>
    <%- imgTag %>
</div>
</body>
